.input-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 40px;
  margin-top: 15px;
  justify-content: center;
  width: 200px;

  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add_product_input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border:none;
    border-radius: 4px;
    outline: none;
    background-color: #e8e4fcc7;
    width: 200px;
    height: 40px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  }

  .generate_button{
    background: green;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1.4px;
    width: 130px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .input_box{
    width: 200px;
    height: 35px;
    padding-left: 5px;
    font-size: 20px;
    display: flex;

  }

  .last{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

  }
  .popup-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
  }

  .dialog-box{
    flex: 1;
    min-width: 150px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #3498db;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    flex-wrap: wrap;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  .dist_input{
    width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  }

  

  .dist_button{
    background-color: #3dbbff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

  .dist_button:hover{
    background-color: #60c7ff;
  }