<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time</title>
<style>
     .main {
      font-family: 'Arial', sans-serif;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    #clock {
      font-size: 2em;
      color: #333;
      text-align: center;
      border-radius: 10px;
      border-color: #333;
    }
</style>


</head>
<body>
    <div class="main">
    <h1>Time</h1>
    <div id="clock"></div>
    <script 
   
    src="time.js"></script>
</div>
</body>
</html>