.vertical-navbar {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 10; */
  border-right-width: 20px;
  color: #060606;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  position: relative;
  font-size: 20px;
  text-align: center;

  
}

.menu-icon {
  cursor: pointer;
  display: none;
}



.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-links li {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none; 
  color: #333;
  /* transition: color 0.1s ;  */
  padding: 15px;
  border-radius: 5px;
  text-align:center;
  

  


  &:hover  {
    background-color: #c9ecff; 
    /* transition: background-color 1s ease; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
}

.nav-links.show {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  border-radius: 5px;
  border-top: #060606;
  border-top-color: #060606;
  
  border-width: 1px;
}

.sub-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; 
}

.sub-navbar .sub-menu {
  position: absolute;
  top: 100%; 
  left: 40px;
  z-index: 1;
}


.sub-menu li {
  cursor: pointer;
  margin-bottom: 5px;
}
.fa-angle-up,
.fa-angle-down {
  margin-left: 10px;
  font-weight: 10px;
  font-size: 15px;
  
}

.sub-navbar.show-submenu .sub-menu {
  display: block;
}


.sub-menu li:hover {
  background-color:#c9ecff; /* Change the background color on hover */
  text-align: right;
}

.sub-navbar,
.sub-menu li {
  margin-top: 10px;
  /* transition: background-color 1s ease; */
  /* border-radius: 10px; */
}

@media (max-width: 999px) {
  .vertical-navbar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }

  
}