.vertical-navbar {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10;
  border-right-width: 20px;
  color: #060606;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  display: none;
}



.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none; 
  color: #333;
  transition: color 0.5s ease-in-out; 
  padding: 15px;
/*   border: 1px solid #ddd;
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  text-align: center;
 

  &:hover  {
    background-color: #e8e4fcc7; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.nav-links.show {
  display: flex;
  flex-direction: column;
}
.down-vertical-navbar{

  text-decoration: none;
  position: absolute;
  display: flex;
  bottom: 0;
  
  

}
.sep-vertical li{
 margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none; 
  list-style: none;
  color: #333;
  transition: color 0.5s ease-in-out; 
  padding: 15px;
 /*  border: 1px solid #ddd; */
 /*  border-radius: 5px;  */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  width: 100%;

  
}
.sep-vertical li:hover{
  background-color: #e8e4fcc7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
.sep-vertical li b{
  margin-left: 10px;
}

.logout:hover{
  color: #ff0202c7; 

}
.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sub-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu li {
  cursor: pointer;
  margin-bottom: 5px;
}
.fa-angle-up,
.fa-angle-down {
  margin-left: 5px;
}

.sub-navbar.show-submenu .sub-menu {
  display: block;
}


/* Add hover effect to sub-menu items */
.sub-menu li:hover {
  background-color:#d3caffc7; /* Change the background color on hover */
}

/* Optional: Add transition for a smoother effect */
.sub-navbar,
.sub-menu li {
  transition: background-color 0.3s ease;
}

@media (max-width: 999px) {
  .vertical-navbar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }
}
