
.login-img{
  background-image: url("../../assets/img/login.png");
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}